.content {
  .body {
    &.reviews-container {
      margin: auto;

      h2 {
        font-family: Apple Chancery, cursive;
      }

      .review {
        font-family: Apple Chancery, cursive;
        padding: 5px;
        margin-bottom: 10px;
        background-color: rgba(0, 0, 0, 0.2);

        p {
          margin: 0;
        }

        .review-name {
          margin-bottom: 5px;
        }
      }

      .write-review-container {
        margin-top: 20px;
        label,
        textarea {
          display: block;
          width: 100%;
        }
      }

      .btn {
        margin-top: 5px;
      }
    }
  }
}
