.btn-main {
  color: #563f1f !important;
  .active {
    color: #fff !important;
    background-color: #980d03 !important;
    border-color: #dee2e6 #dee2e6 #fff;
  }
}

.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
  cursor: pointer;
}
